/* less定义*/
.width {
  width: 100%;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.size {
  font-size: 19px;
}
/* 全局属性 */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #eff0f4;
  min-width: 320px;
}
/* 注册栏嵌套*/
.regist {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #1ba2ea;
}
.regist .regist-text1 {
  position: absolute;
  color: white;
  left: 18px;
  top: 14px;
}
.regist .regist-text2 {
  color: white;
  text-align: center;
  margin-top: 12px;
  font-size: 19px;
}
.regist .regist-text3 {
  position: absolute;
  color: white;
  right: 18px;
  top: 13px;
}
.regist:hover {
  background-color: #00a6ff;
}
/* 手机输入框嵌套 */
.input-phone-box {
  position: fixed;
  width: 100%;
  height: 62px;
  background-color: #ffffff;
  top: 68px;
}
.input-phone-box .icon-phone {
  position: fixed;
  top: 69px;
}
.input-phone-box .input-phone {
  position: relative;
  left: 60px;
  top: 2px;
}
.input-phone-box .input-phone .input-top {
  height: 58px;
  color: #bababa;
  border: 0.5px solid #ffffff;
}
/* 密码输入框嵌套 */
.password-box {
  position: fixed;
  width: 100%;
  height: 62px;
  background-color: #ffffff;
  top: 146px;
}
.password-box .icon-password {
  position: fixed;
  top: 147px;
}
.password-box .input-password {
  position: relative;
  left: 60px;
  top: 2px;
}
.password-box .input-password .input-bottom {
  height: 55px;
  color: #bababa;
  border: 0.5px solid #ffffff;
}
img {
  width: 60px;
  height: 59px;
}
input {
  width: 100%;
  background-color: #ffffff;
  outline: none;
}
/* 登录栏 */
.login {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #1ba2ea;
  top: 224px;
}
.login .login-text {
  color: white;
  text-align: center;
  margin-top: 17px;
  letter-spacing: 20px;
  font-size: 19px;
}
.login:hover {
  background-color: #00a6ff;
}
/* 忘记密码 */
.link-password {
  position: fixed;
  top: 300px;
  right: 20px;
}
a {
  color: #1ba2ea;
}
